<h1>Search for Labels</h1>

<%= form_with scope: :search, url: search_path, local: true do |form| %>
  <p>
    <%= form.label :repo %><br>
    <%= form.text_field :repo, required: true %>
  </p>
  <p>
    <%= form.submit "search" %>
  </p>
<% end %>